.hero {
    background: #124D5F;
    color: #333;
    margin-bottom: 128px;
}

.hero h1{
    font-size: 60px;
    max-width: 550px;
    color: #fff;
}

.hero .logo {
    color: #F2AD5F;
    width: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.hero .logo img {
    width: 100%;
}

.hero nav, .hero ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero ul {
    width: 50%;
    list-style: none;
}

.hero ul a {
    text-decoration: none;
    color: #fff;
}

.hero .content {
    margin: 32px 0;
    padding: 24px 0;
    position: relative;
}

.hero .content h1 {
    position: relative;
    z-index: 3;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.hero .content a {
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 32px;
    background: #F2AD5F;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    margin: 24px 0;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.hero .content img {
    position: absolute;
    width: 400px;
    height: 450px;
    object-fit: cover;
    top: 10px;
    right: 100px;
    z-index: 1;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}