.navbar {
   height: 10vh;
   color: #fff;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar .container {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.navbar .logo img {
   width: 40px;
}

.navbar a {
   text-decoration: none;
   display: flex;
   text-transform: uppercase;
   font-weight: bold;
   align-items: center;
   color: #F2AD5F;
}
  