.collab {
    color: #fff;
    display: flex;
    margin-bottom: 128px;
    position: relative;
}

.collab div {
    background: #124D5F;
    width: 1004px;
}

.collab div:nth-child(1) {
    width: 400px;
    margin-left: 200px;
}

.collab img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 40px;
    left: 75px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.collab h1 {
    font-size: 60px;
    max-width: 550px;
    color: #fff;
}

.collab p {
    max-width: 400px;
}

.collab button {
    font-weight: bold;
    border: none;
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 32px;
    background: #F2AD5F;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    margin: 24px 0;
    text-transform: uppercase;
}