.banner {
    max-width: 1440px;
    height: 200px;
    background: #F2AD5F;
    border-top-left-radius: 100px;
}

.owner-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    margin-top: -40px;
}

.owner {
    margin-top: -70px;
    margin-left: 100px;
}

.repo {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0px auto;
    max-width: 1200px;
    padding: 0 24px;
}

.repo ul {
    list-style: none;
}

.repo-main-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.repo-main-list li div{
    display: flex;
    align-items: center;
}

.repo-main-list-li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 24px;
    
}

.repo-main-list p {
    margin-left: 8px;
    color: #F2AD5F;
    text-decoration: underline;
    font-weight: bold;
}

.repo-main-list img {
    width: 16px;
    height: 16px;
}

.repo-sub-list {
    padding: 0;
    display: flex;
    align-items: center;
}

.repo-sub-list span {
    padding: 0 8px;
}

.repo-sub-list li {
    margin: 0 8px;
    padding: 8px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}
